<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFishLabel" jhiTranslate="fishingApp.fish.home.createOrEditLabel">Create or edit a Fish</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fish.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fish.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="fish.name" required minlength="3"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="fish.description" maxlength="200"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.eatingType" for="field_eatingType">Eating Type</label>
            <select class="form-control" name="eatingType" [(ngModel)]="fish.eatingType" id="field_eatingType" >
                <option value="CARNIVORE">{{'fishingApp.FishEatingType.CARNIVORE' | translate}}</option>
                <option value="OMNIVORE">{{'fishingApp.FishEatingType.OMNIVORE' | translate}}</option>
                <option value="HERBIVORE">{{'fishingApp.FishEatingType.HERBIVORE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.avgWeight" for="field_avgWeight">Avg Weight</label>
            <input type="number" class="form-control" name="avgWeight" id="field_avgWeight"
                [(ngModel)]="fish.avgWeight" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.maxWeight" for="field_maxWeight">Max Weight</label>
            <input type="number" class="form-control" name="maxWeight" id="field_maxWeight"
                [(ngModel)]="fish.maxWeight" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.avgLength" for="field_avgLength">Avg Length</label>
            <input type="number" class="form-control" name="avgLength" id="field_avgLength"
                [(ngModel)]="fish.avgLength" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.maxLength" for="field_maxLength">Max Length</label>
            <input type="number" class="form-control" name="maxLength" id="field_maxLength"
                [(ngModel)]="fish.maxLength" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.maxAge" for="field_maxAge">Max Age</label>
            <input type="number" class="form-control" name="maxAge" id="field_maxAge"
                [(ngModel)]="fish.maxAge" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fishingApp.fish.summerDepth" for="field_summerDepth">Summer Depth</label>
            <select class="form-control" name="summerDepth" [(ngModel)]="fish.summerDepth" id="field_summerDepth" >
                <option value="SURFACE">{{'fishingApp.FishDepth.SURFACE' | translate}}</option>
                <option value="TOP">{{'fishingApp.FishDepth.TOP' | translate}}</option>
                <option value="MIDDLE">{{'fishingApp.FishDepth.MIDDLE' | translate}}</option>
                <option value="BOTTOM">{{'fishingApp.FishDepth.BOTTOM' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
