<div>
    <h2>
        <span jhiTranslate="fishingApp.region.home.title">Regions</span>
        <button class="btn btn-primary float-right jh-create-entity create-region-fish-demo" [routerLink]="['/', { outlets: { popup: ['region-fish-demo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="fishingApp.region.home.createLabel">
            Create new Region
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="regions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="fishingApp.region.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="postalCode"><span jhiTranslate="fishingApp.region.postalCode">Postal Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mainCity"><span jhiTranslate="fishingApp.region.mainCity">Main City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="river.name"><span jhiTranslate="fishingApp.region.river">River</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let region of regions ;trackBy: trackId">
                <td><a [routerLink]="['../region-fish-demo', region.id ]">{{region.id}}</a></td>
                <td>{{region.name}}</td>
                <td>{{region.postalCode}}</td>
                <td>{{region.mainCity}}</td>
                <td>
                    <div *ngIf="region.river">
                        <a [routerLink]="['../river-fish-demo', region.river?.id ]" >{{region.river?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../region-fish-demo', region.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'region-fish-demo/'+ region.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'region-fish-demo/'+ region.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="regions && regions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
